body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.response-message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.sac{
    background-color: #f2f2f23b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    backdrop-filter: blur(10px);

    padding: 1%;

    color: white !important;

    font-size: 2vw;
    text-decoration: none;

    position: absolute;
    left: 2%;
    top: 2%;
}

